.feedback
  background: #1D3B5D  url('../images/dest/feedback/bg.png') no-repeat
  background-size: contain
  margin-top: 90px
  &-2
    background: #1D3B5D  url('../images/dest/feedback/bg-mirror.png') no-repeat
    background-position-x: right
  @media ( max-width: 991px )
    background-size: cover

  &__absolute
    position: relative
    @media ( max-width: 1199px )
      right: 0

  &__form
    position: absolute
    top: 0
    right: 0
    transform: translateY(-50%)
    @media ( max-width: 1199px )
      left: 0
    @media ( max-width: 991px )
      right: 0
    &-2
      @media ( max-width: 991px )
        left: 0

  &__content
    margin: 70px 0 70px
    &-2
      padding-left: 40px

  &__title
    color: #ffffff
    font-weight: 700
    font-size: 36px
    text-transform: uppercase
    &--sm
      display: block
      font-size: 21px
      
  &__subtitle
    max-width: 700px
    margin-top: 20px
    color: #ffffff
    font-size: 18px
    font-weight: 300




