.process
  &__title
    display: block
    text-align: center
    font-size: 48px
    font-weight: 500
    color: #0A1243
    margin-bottom: 70px

  &__img  
    display: flex
    justify-content: center

  &__wrapper  
    position: relative
    display: flex
    flex-direction: column
    padding-left: 55px

  &__lines
    position: absolute
    left: 0  
    top: 63px
    width: 70px
    height: calc( 3 * calc( 100% / 4 ) + 5px )
    border: 2px dashed #C4C4C4
    border-right: none
    z-index: 1
    @media ( max-width: 1199px )
      height: calc( 3 * calc( 100% / 4 ) - 20px )
      left: 15px
    @media ( max-width: 991px )
      top: 46px
      height: calc( 3 * calc( 100% / 4 ) - 8px ) 
      left: auto
      width: 40px
      right: -40px
      border-left: none
      border-right: 2px dashed #C4C4C4

  &__item
    margin-bottom: 10px
    background-color: #ffffff
    border: 1px solid #D9D9D9
    cursor: pointer
    z-index: 2
    &:last-child
      margin-bottom: 0
    &:hover
      background-color: #4782C6
      .process__number, .process__subtitle
        color: #ffffff
      .process__text
        color: #E6E6E6
      .process__number::after
        background-color: #ffffff

  &__inner  
    display: flex
    padding: 42px 10px 42px 0
    @media ( max-width: 991px )
      padding: 25px 0 25px 10px

  &__number 
    position: relative
    height: 40px
    margin-right: 20px
    padding-left: 42px
    font-size: 40px
    font-weight: 900
    color: #4782C6  
    line-height: 1
    &::after
      content: ''
      width: 35px
      height: 2px
      position: absolute
      left: -1px
      top: 50%
      display: block
      background-color: #4C74A7
    @media ( max-width: 991px )
      order: 1
      padding-left: 0
      padding-right: 20px
      margin-right: 0
      &::after
        width: 20px
        left: auto
        right: 0

  &__subtitle
    margin-bottom: 6px
    font-weight: 700
    font-size: 24px
    color: #0A1243
    line-height: 1

  &__text
    margin: 0
    font-size: 16px
    color:#6B6B6B
    font-weight: 400
    line-height: 1.25